.login {
    display: flex;
    justify-content: center;
}

.login__container {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 200px;
}

.login__elem {
    margin-top: 10px;
    height: 35px;
}

.login__title {
    font-size: 18px;
    text-align: center;
}
