.Data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;
}

.user {
    margin-bottom: 15px;
    font-size: 17px;
}

.sensorName {
    font-size: 17px;
    margin-bottom: 5px;
}

.button,
.input {
    height: 30px;
}

.elem {
    margin-top: 10px;
    text-align: center
}
